---
layout: default
ref: colecciones
lang: es
---

<header class="way-header header-works">
  {% include nav.html %}
</header>

<div class="template works">
  <div id="Container" class="mxt-container">
    <h2 style="width: 100%;text-align: center;padding: 20px 0;">Colecciones ({{ site.posts | size }} resultados)</h2>
    {% for post in paginator.posts %}
    <div class="mix default {{post.category}} {{post.subcategory}}" data-myorder="{{post.order}}">
         <div class="image">
          <a target="_blank" href="{{post.link}}">
           <img src="{{site.baseurl}}/img//open-collection/{{post.image}}.png" width="336" height="188">
           </a>
         </div>
         <div class="content">
            <a target="_blank" href="{{post.link}}">
            <h2>
              {{post.title}}
              <span aria-hidden="true" class="post-status lang-es"></span>
            </h2>
            </a>
           <div class="description">
             {{post.contenido}}
           </div>
         </div>
         </a>
       </div>
    {% endfor %}
  </div>
  <div class="paginator">
  {% if paginator.next_page or paginator.previous_page %}
    {% if paginator.previous_page %}
      <a href="{{site.baseurl}}{{ paginator.previous_page_path }}">
       <i class="fas fa-chevron-left"></i> página anterior</a>
    {% else %}
      <b> <i class="fas fa-chevron-left"></i>página anterior</b>
    {% endif %}
    <b>{{paginator.page}} / {{paginator.total_pages}}</b>
    {% if paginator.next_page %}
      <a href="{{site.baseurl}}{{ paginator.next_page_path }}">página siguiente <i class="fas fa-chevron-right"></i></a>
    {% else %}
      <b>página siguiente <i class="fas fa-chevron-right"></i></b>
    {% endif %}
  {% endif %}
  </div>
</div>


